<div class="buttons">
   <h3>{{buttonHeading}}</h3>
   <button [class.gold]="!goldInactive" [disabled]="goldInactive" (click)="goldInactive = true">Gold</button> <br>
   <button [class.silver]="!silverInactive" [disabled]="silverInactive" (click)="silverInactive = true">Silver</button> <br>
   <button [class.copper]="!copperInactive" [disabled]="copperInactive" (click)="copperInactive = true">Copper</button> <hr>
   <button (click)="reactivate()">Reactivate Buttons</button>
</div>
<hr />

<div class="buttons">
   <h3>Joke {{buttonHeading}}</h3>
   <div>
   <button [class.gold]="!inactive" [disabled]="inactive" (mouseover)="inactive = true" (mouseout)="inactive = false">Frustration Incarnate!</button>
   </div>
   
   <hr />
   <div [align]="location" (mouseover)="location = switchPosition(location)">
      <button class="silver">Catch Me!</button>
   </div>
</div>